@font-face {
  font-family: lcd;
  src: url(http://googledrive.com/host/0BzxZ_GYZE1hUfkRnZzZkMnc2WHM4Y2RkUVRDTVVqZkF4c19MU3RFekRMd3MyZDIyT2hxNEU/LCD-BOLD.woff);
}

html {
  height: 100%;
  font-size: 1vmin;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
  /* needed for Firefox */
  
  box-sizing: border-box;
  //background-image: url("pattern5.png");
  background-color: rgba(159, 102, 39, 0.65);
  background: radial-gradient(#e79131, #bf8923);
  font-family: sans-serif;
  font-weight: bold;
}

.game-body {
  box-sizing: border-box;
  position: relative;
  height: 95rem;
  width: 95rem;
  background-color: #181818;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  border-radius: 100%;
  padding: 1rem;
  box-shadow: 0 0 2rem black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-seq {
  display: flex;
  box-sizing: border-box;
  border: 2rem solid #181818;
  width: 50%;
  height: 50%;
  background-color: antiquewhite;
  opacity: 0.80;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10rem;
  text-shadow: 0 0 1px grey;
  cursor: default;
}

.btn-1 {
  border-radius: 100% 0 0 0;
}

.btn-2 {
  border-radius: 0 100% 0 0;
}

.btn-3 {
  border-radius: 0 0 0 100%;
}

.btn-4 {
  border-radius: 0 0 100% 0;
}

.red {
  background-color: #FF0A0A;
  color: #f30a0a;
}

.green {
  background-color: #00E800;
  color: #00dd00;
}

.blue {
  background-color: #3BB9FF;
  color: #3badf2;
}

.yellow {
  background-color: #FFD300;
  color: #f3c700;
}

.controls {
  display: flex;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 100%;
  background-color: #c5c0bd;
  box-sizing: border-box;
  border: 3rem solid #181818;
}

.controls-inner {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 0.5rem solid transparent;
  border-radius: 100%;
}

.marquee {
  height: 40%;
  width: 100%;
  background-color: #0e0e0e;
  position: relative;
}

.marquee span {
  font-family: 'Rubik', monospace;
  font-weight: 800;
  position: absolute;
  width: 100%;
  bottom: -3rem;
  text-align: center;
  font-size: 12rem;
  color: #c5c0bd;
  margin: 0;
}

.control-btns {
  height: 60%;
  width: 100%;
  background-color: rgba(197, 192, 189, 0.91);
  border-top: 0.5rem solid #c5c0bd;
}

.control-btns-settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}

.btn-set {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.count {
  box-sizing: border-box;
  display: flex;
  height: 6rem;
  width: 80%;
  background-color: darkred;
  color: #a50000;
  border: 0.5rem solid #181818;
  border-radius: 1.5rem;
  font-size: 4rem;
  font-family: 'lcd', monospace;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.count > span {
  margin-top: .75rem;
  font-weight: normal;
}

.btn {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #212121;
  border-radius: 100%;
  cursor: default;
}

.start {
  margin-top: 2rem;
}

.lt {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 100%;
  border: 0.25rem solid darkslategrey;
  background-color: darkred;
  margin-bottom: 0.5rem;
}

.control-btns-onoff {
  background-color: #a29d9a;
  height: 5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.control-btns-onoff > label {
  height: 3rem;
  box-sizing: border-box;
  position: relative;
  width: 6rem;
  cursor: pointer;
  outline: none;
  font-size: 3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch ~ label:before,
input.switch ~ label:after {
  height: 3rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  //bottom: 0;
  left: 0;
  content: ' ';
  border-radius: 3rem;
}

input.switch ~ label:before {
  width: 6rem;
  background-color: darkslategray;
  border: 0.5rem solid black;
}

input.switch ~ label:after {
  width: 3rem;
  background-color: #44ea4f;
  border: 0.5rem solid black;
  //top:0;
  //left:0;
}

input.switch:checked ~ label:after {
  left: 3.5rem;
}

.label {
  font-size: 2rem;
  margin: 0 1rem;
}
/*http://paletton.com/#uid=7000Y0kIE++jq++rI++ZbGsNLmw*/